@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-family: 'Outfit', sans-serif;
}